In [1]:
import pandas as pd

amazon_sale_report_df = pd.read_csv("Amazon Sale Report.csv")

C:\Users\kweku\AppData\Local\Temp\ipykernel_21816\776400557.py:3: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  amazon_sale_report_df = pd.read_csv("Amazon Sale Report.csv")

In [2]:
#check the percentage of missing values in each column
amazon_sale_report_df.isnull().mean() * 100

index                  0.000000
Order ID               0.000000
Date                   0.000000
Status                 0.000000
Fulfilment             0.000000
Sales Channel          0.000000
ship-service-level     0.000000
Style                  0.000000
SKU                    0.000000
Category               0.000000
Size                   0.000000
ASIN                   0.000000
Courier Status         5.328164
Qty                    0.000000
currency               6.043807
Amount                 6.043807
ship-city              0.025586
ship-state             0.025586
ship-postal-code       0.025586
ship-country           0.025586
promotion-ids         38.110487
B2B                    0.000000
fulfilled-by          69.546811
Unnamed: 22           38.030626
dtype: float64

In [3]:
amazon_sale_report_df["Courier Status"].unique()

array([nan, 'Shipped', 'Cancelled', 'Unshipped'], dtype=object)

In [4]:
# fix "Courier Status" column nan -> Unknown
amazon_sale_report_df["Courier Status"] = amazon_sale_report_df["Courier Status"].fillna("Unknown")

In [5]:
# fix currency column
# print rows with currency  == nan
amazon_sale_report_df[amazon_sale_report_df["currency"].isna()]

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
29,29,404-5933402-8801952,04-30-22,Cancelled,Merchant,Amazon.in,Standard,JNE2132,JNE2132-KR-398-XXXL,kurta,...,NaN,NaN,GUWAHATI,ASSAM,781003.0,IN,NaN,False,Easy Ship,NaN
65,65,171-4137548-0481151,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3373,JNE3373-KR-XXL,kurta,...,NaN,NaN,Dahod,Gujarat,389151.0,IN,NaN,False,NaN,NaN
84,84,403-9950518-0349133,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3510,JNE3510-KR-M,kurta,...,NaN,NaN,HYDERABAD,TELANGANA,500072.0,IN,NaN,False,NaN,NaN
95,95,405-9112089-3379536,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-L,kurta,...,NaN,NaN,PUNE,MAHARASHTRA,411046.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128903,128903,406-3923120-4345139,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3801,JNE3801-KR-M,kurta,...,NaN,NaN,ANANTAPUR,ANDHRA PRADESH,515001.0,IN,NaN,False,NaN,False
128907,128907,403-6757403-6097100,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,NW014,NW014-ST-SR-XXXL,Set,...,NaN,NaN,GREATER NOIDA,UTTAR PRADESH,201306.0,IN,NaN,False,NaN,False
128908,128908,403-6757403-6097100,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,NW007,NW007-ST-CP-XXXL,Set,...,NaN,NaN,GREATER NOIDA,UTTAR PRADESH,201306.0,IN,NaN,False,NaN,False
128958,128958,408-9513596-4393945,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,SET058,SET058-KR-NP-L,Set,...,NaN,NaN,Bengaluru,KARNATAKA,560037.0,IN,NaN,False,NaN,False
128967,128967,404-5182288-1653947,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3638,JNE3638-KR-XS,kurta,...,NaN,NaN,Kolkata,WEST BENGAL,700040.0,IN,NaN,False,NaN,False

In [6]:
# fix currency column nan -> INR
amazon_sale_report_df["currency"] = amazon_sale_report_df["currency"].fillna("INR")
# fix Amount column nan -> 0.0
amazon_sale_report_df["Amount"] = amazon_sale_report_df["Amount"].fillna(0.0)

In [12]:
# fix Amount column to float
# every value should follow this format -> .2f
amazon_sale_report_df["Amount"] = amazon_sale_report_df["Amount"].astype(float)

# remove leading and trailing whitespace
amazon_sale_report_df["Date"].str.strip()
# convert to datetime format
amazon_sale_report_df["Date"] = pd.to_datetime(amazon_sale_report_df["Date"], format="%m-%d-%y")

In [13]:
#drop the following columns: promotion-ids, fulfilled-by, Unnamed: 22, ship-service-level, Sales Channel, ship-city, ship-state, ship-postal-code, ship-country, Status
amazon_sale_report_df.drop(columns=["promotion-ids", "fulfilled-by", "Unnamed: 22", "ship-service-level", "Sales Channel ", "ship-city", "ship-state", "ship-postal-code", "ship-country", "Status"], inplace=True)
#check the percentage of missing values in each column again
amazon_sale_report_df.isnull().mean() * 100

index             0.0
Order ID          0.0
Date              0.0
Fulfilment        0.0
Style             0.0
SKU               0.0
Category          0.0
Size              0.0
ASIN              0.0
Courier Status    0.0
Qty               0.0
currency          0.0
Amount            0.0
B2B               0.0
dtype: float64

In [14]:
#drop index column and rename currency column to Currency
amazon_sale_report_df.drop(columns=["index"], inplace=True)
amazon_sale_report_df.rename(columns={"currency": "Currency"}, inplace=True)

In [15]:
amazon_sale_report_df

,Order ID,Date,Fulfilment,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Currency,Amount,B2B
0,405-8078784-5731545,2022-04-30,Merchant,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,Unknown,0,INR,647.62,False
1,171-9198151-1101146,2022-04-30,Merchant,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,INR,406.00,False
2,404-0687676-7273146,2022-04-30,Amazon,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,INR,329.00,True
3,403-9615377-8133951,2022-04-30,Merchant,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,Unknown,0,INR,753.33,False
4,407-1069790-7240320,2022-04-30,Amazon,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,406-6001380-7673107,2022-05-31,Amazon,JNE3697,JNE3697-KR-XL,kurta,XL,B098112V2V,Shipped,1,INR,517.00,False
128971,402-9551604-7544318,2022-05-31,Amazon,SET401,SET401-KR-NP-M,Set,M,B09VC6KHX8,Shipped,1,INR,999.00,False
128972,407-9547469-3152358,2022-05-31,Amazon,J0157,J0157-DR-XXL,Western Dress,XXL,B0982YZ51B,Shipped,1,INR,690.00,False
128973,402-6184140-0545956,2022-05-31,Amazon,J0012,J0012-SKD-XS,Set,XS,B0894Y2NJQ,Shipped,1,INR,1199.00,False
128974,408-7436540-8728312,2022-05-31,Amazon,J0003,J0003-SET-S,Set,S,B0894X27FC,Shipped,1,INR,696.00,False

In [16]:
#load dataframe to mysql database
from sqlalchemy import create_engine

#create table amazon_sales and load data into it
engine = create_engine("mysql+pymysql://root@localhost:3306/e-commerce_sales")

In [17]:
amazon_sale_report_df.to_sql(
    "amazon_sales", con=engine, if_exists="replace", index=False)

128975

In [18]:

engine.dispose()