In [1]:
#read May-2022.csv

import pandas as pd

may_2022_df = pd.read_csv("May-2022.csv", header=0)

In [2]:
#check the percentage of missing values in each column
may_2022_df.isnull().mean() * 100

index             0.0
Sku               0.0
Style Id          0.0
Catalog           0.0
Category          0.0
Weight            0.0
TP                0.0
MRP Old           0.0
Final MRP Old     0.0
Ajio MRP          0.0
Amazon MRP        0.0
Amazon FBA MRP    0.0
Flipkart MRP      0.0
Limeroad MRP      0.0
Myntra MRP        0.0
Paytm MRP         0.0
Snapdeal MRP      0.0
dtype: float64

In [3]:
#drop duplicates
may_2022_df.drop_duplicates(inplace=True)

In [4]:
#remove the noise. i.e unnecessary columns like:
# Style Id

may_2022_df.drop(columns=["Style Id"], inplace=True)

In [5]:
may_2022_df

,index,Sku,Catalog,Category,Weight,TP,MRP Old,Final MRP Old,Ajio MRP,Amazon MRP,Amazon FBA MRP,Flipkart MRP,Limeroad MRP,Myntra MRP,Paytm MRP,Snapdeal MRP
0,0,Os206_3141_S,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
1,1,Os206_3141_M,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
2,2,Os206_3141_L,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
3,3,Os206_3141_XL,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
4,4,Os206_3141_2XL,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325,1325,Os326_M,Mix,Kurta,0.3,467,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1326,1326,Os326_L,Mix,Kurta,0.3,467,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1327,1327,Os326_XL,Mix,Kurta,0.3,467,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1328,1328,Os326_2XL,Mix,Kurta,0.3,467,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1329,1329,Os326_3XL,Mix,Kurta,0.3,467,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995

In [6]:
# load dataframe to mysql database
from sqlalchemy import create_engine

# create table amazon_sales and load data into it
engine = create_engine("mysql+pymysql://root@localhost:3306/e-commerce_sales")

may_2022_df.to_sql(name="may_2022", con=engine, if_exists="replace", index=False)

engine.dispose()