In [1]:
#read Sale Report.csv file
import pandas as pd

sale_report_df = pd.read_csv("Sale Report.csv", header=0)

In [3]:
#check the percentage of missing values in each column
sale_report_df.isnull().mean() * 100

index         0.000000
SKU Code      0.895265
Design No.    0.388308
Stock         0.388308
Category      0.485385
Size          0.388308
Color         0.485385
dtype: float64

In [4]:
#drop rows that have missing values in the SKU Code column
sale_report_df.dropna(subset=["SKU Code"], inplace=True)
#check the percentage of missing values in each column again
sale_report_df.isnull().mean() * 100

index         0.0
SKU Code      0.0
Design No.    0.0
Stock         0.0
Category      0.0
Size          0.0
Color         0.0
dtype: float64

In [5]:
# cast columns to appropriate data types
sale_report_df["SKU Code"].astype(str)
sale_report_df["Design No."].astype(str)
sale_report_df["Stock"].astype(int)
sale_report_df["Category"].astype(str)
sale_report_df["Size"].astype(str)
sale_report_df["Color"].astype(str)

0        Red
1        Red
2        Red
3        Red
4        Red
        ...
9230    Teal
9231    Teal
9232    Teal
9233    Teal
9234    Teal
Name: Color, Length: 9188, dtype: object

In [6]:
sale_report_df

      index           SKU Code Design No.  Stock       Category  Size Color
0         0        AN201-RED-L      AN201    5.0  AN : LEGGINGS     L   Red
1         1        AN201-RED-M      AN201    5.0  AN : LEGGINGS     M   Red
2         2        AN201-RED-S      AN201    3.0  AN : LEGGINGS     S   Red
3         3       AN201-RED-XL      AN201    6.0  AN : LEGGINGS    XL   Red
4         4      AN201-RED-XXL      AN201    3.0  AN : LEGGINGS   XXL   Red
...     ...                ...        ...    ...            ...   ...   ...
9230   9230     SET462-KR-NP-S     SET462   44.0            SET     S  Teal
9231   9231    SET462-KR-NP-XL     SET462   58.0            SET    XL  Teal
9232   9232    SET462-KR-NP-XS     SET462   20.0            SET    XS  Teal
9233   9233   SET462-KR-NP-XXL     SET462   66.0            SET   XXL  Teal
9234   9234  SET462-KR-NP-XXXL     SET462   40.0            SET  XXXL  Teal

[9188 rows x 7 columns]

In [8]:
#reset the index of the DataFrame
sale_report_df.reset_index(drop=True, inplace=True)

In [9]:
sale_report_df

      index           SKU Code Design No.  Stock       Category  Size Color
0         0        AN201-RED-L      AN201      5  AN : LEGGINGS     L   Red
1         1        AN201-RED-M      AN201      5  AN : LEGGINGS     M   Red
2         2        AN201-RED-S      AN201      3  AN : LEGGINGS     S   Red
3         3       AN201-RED-XL      AN201      6  AN : LEGGINGS    XL   Red
4         4      AN201-RED-XXL      AN201      3  AN : LEGGINGS   XXL   Red
...     ...                ...        ...    ...            ...   ...   ...
9183   9230     SET462-KR-NP-S     SET462     44            SET     S  Teal
9184   9231    SET462-KR-NP-XL     SET462     58            SET    XL  Teal
9185   9232    SET462-KR-NP-XS     SET462     20            SET    XS  Teal
9186   9233   SET462-KR-NP-XXL     SET462     66            SET   XXL  Teal
9187   9234  SET462-KR-NP-XXXL     SET462     40            SET  XXXL  Teal

[9188 rows x 7 columns]

In [10]:
# load dataframe to mysql database
from sqlalchemy import create_engine

# create table amazon_sales and load data into it
engine = create_engine("mysql+pymysql://root@localhost:3306/e-commerce_sales")

sale_report_df.to_sql(name="sale_report", con=engine, if_exists="replace", index=False)

engine.dispose()